.header__link-out {
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 10px;
    opacity: 0.6;
    background: #000;
  }
  .header__link-out:hover {
    opacity: 1;
    cursor: pointer;
  }