.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit-Button.svg) no-repeat;
  border: 1px solid #fff;
  background-size: 10px 10px;
  background-position: center;
  margin-top: 15px;
  padding: 0;
}
 @media screen and (max-width: 597px) {
  .profile__edit-button {
    margin-top: 8px;
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
   }
}
