.popup__close-btn_popup_info-tooltip {
  top: -40px;
  right: -40px;
}
@media screen and (max-width: 570px) {
    .popup .popup__close-btn_popup_info-tooltip {
      width: 20px;
      height: 20px;
      top: -35px;
      right: 0;
    }
  }