.popup__close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(../../../images/Close-Icon.svg) no-repeat;
  background-size: cover;
  top: -74px;
  right: -74px;
  border: none;
}
@media screen and (max-width: 570px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -61px;
    right: -20px;
  }
}
